.menu {
  display: flex;
  flex-direction: column;
  height: max(100vh, fit-content);
  min-height: 100vh;
  padding-top: 5vh;
}
.menu__title,
.menu__class__title {
  display: flex;
  justify-content: center;
  font-size: 2vw;
}
.menu__class__title {
  margin-top: 2vh;
}
.classes__section__action {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
}
.classes__list {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 95vw;
  animation: fadeInOpacity 4s;
}
.classes__list > button {
  margin-top: 5vh;
}

.display__class {
  color: white;
  margin-top: 5vh;
}
