.navbar {
  color: white;
  fill: #ffffff;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 0;
  height: 67px;
  width: 100vw;
  box-shadow: 1px 1px 1px 0.1px var(--bg-primary);
  background-color: black;
}

.appMode {
  padding: 4px;
  border-bottom: 1px solid var(--bg-success);
}
.navbar::-webkit-scrollbar {
  display: none;
}
.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.3;
}
.navbar__logo > div > a > img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  margin-right: 20px;
}
.navbar__logo > .company__description {
  display: flex;
  flex-direction: column;
  width: 28vw;
}
.navbar__logo > .company__description > h1 {
  font-size: max(14px, 1.6vw);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar__logo > .company__description > p {
  font-size: max(14px, 1.4vw);
  font-family: sans-serif;
}

.navItems {
  display: flex;
  flex: 0.7;
}
.navItems > nav {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 30px;
}
.navItems > nav > a {
  padding: 1rem;
  font-family: "Montserrat", Sans-serif;
  font-size: min(14.6px, 3vw);
  fill: #ffffff;
  color: white;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  width: max-content;
}
.navItems > nav > a:hover {
  cursor: pointer;
}

.navItems > nav > .action__btn {
  position: fixed;
  margin-top: 30px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1100px) {
  .navItems {
    transform: scale(0);
    display: none;
  }
  .navbar__logo {
    flex: 1;
  }
  .navbar__quoteButton {
    display: none;
  }
  .navbar__quoteButton__primary {
    display: flex;
    width: 100px;
    min-height: fit-content;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    justify-content: center;
  }
}
